.card {
  width: 250px;
  margin-left: 15px;
  margin-top: 10px;
}

.title-todo {
  display: flex;
  justify-content: center;
}
.content {
  font-size: 13px;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
}
.list-card{
  width: 500px;
}

